body, html {
  font-family: 'Roboto', sans-serif;
  margin: auto;
}
ul {
  list-style-type: none;
}
ul::after {
  content: "";
  display: table;
  clear: both;
}
nav {
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0px;
}
li {
  float: left;
  width: 20%;
  text-align: center;
}
a {
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0;
}
a:focus {
  color: rgb(0, 47, 128);
}
a:hover {
  color: rgb(0, 47, 128);
  border-bottom: 2px solid rgb(0, 47, 128);
}
.textSize {
  font-size: 40px;
  color: rgb(0, 47, 128);
}
/* .container {
  display: flex;
  flex-direction: column;
} */
.white {
  color: white;
}
.center {
  width: 80%;
  margin: auto;
}
#burger-menu {
  display: none;
}
#navBar {
  cursor: pointer;
  padding: 12px; 
}
#row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
}
#profile {
  display: flex;
  flex-direction: column;
  height: 500px;
  background-color: darkcyan;
}
/* #profile img {
  height: 500px;
  width: 30%;
} */
#skills {
  margin-top: 90px;
  height: 800px;
}
#skills img {
  width: 12%;
  height: 12%;
}
#adobe-skills {
  margin-top: 60px;
}
#studies {
  display: flex;
  flex-direction: column;
  height: 700px;
  background-color: cadetblue;
}
#experiences {
  height: 800px;
  display: flex;
  text-align: justify;
  flex-direction: column;
  align-items: center;
}
#languages-spoken {
  background-color: darkcyan;
  display: flex;
  height: 400px;
}
#languages-spoken img {
  width: 20%;
  height: 180px;
}
@media screen and (min-width: 681px) and (max-width: 995px){
  #profile {
    height: 350px;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #skills img {
    width: 17%;
    height: 17%;
  }
  #skills {
    margin-top: 70px;
    height: 650px;
  }
  #languages-spoken img {
    width: 25%;
    height: 150px;
  }
}
@media screen and (max-width: 680px) {
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #experiences {
    height: 900px;
  }
  #skills {
    height: 1600px;
  }
  #skills img {
    width: 25%;
    height: 25%;
  }
  #row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  a {
    color: rgb(0, 47, 128);
  }
  /* ul.topnav {
    display: none;
  } 
  ul.topnav.menu-open {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #FFFFFF;
  
    position: absolute;
    right: 0;
    top: 1;
    z-index: 1;
  }
  #burger-menu {
    display: block;
    color: rgb(0, 47, 128);
    text-align: end;
    margin: 0 -50px 15px 0;
  } */
}