body, html {
  font-family: 'Roboto', sans-serif;
  margin: auto;
}
img {
  width: 12%;
  height: 120px;
}
li {
  display: inline;
}
a {
  border-radius: 7px;
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 23%;
  text-align: center;
  line-height: 4;
  color: white;
}
a:focus {
  color: rgb(0, 47, 128);
}
a:hover {
  color: rgb(0, 47, 128);
}
.container {
  display: flex;
  flex-direction: column;
}
.header {
  text-align: center;
}
#navBar {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
  background-color: rgb(3, 221, 232);
  padding-top: 10%;
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px; 
}
.center {
  width: 80%;
  margin: auto;
}
#profile {
  display: flex;
  flex-direction: column;
  height: 500px;
  background-color: aquamarine;
  color: white;
}
#skills {
  height: 800px;
}
#adobe-skills {
  display: flex;
  flex-direction: column;
}
#languages-skills {
  display: flex;
  flex-direction: column;
}
#languages-skills  img:first-child {
  width: 8%;
}
#row-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#studies {
  display: flex;
  flex-direction: column;
  height: 500px;
  background-color: aquamarine;
  color: white;
}
:root {
  --progress: #008172;
}
.progressbar-wrapper {
  background-color: white;
  color: white;
  border-radius: 5px;
  width: 25%;
}
.progressbar {
  background-color: var(--progress);
  color: white;
  height: 1rem;
  text-align: right;
  border-radius: 5px;
}
.progressbar[title="progress"] {
   background-color: var(--progress);
}
.illustrator-skills {
  width: 40%;
}
.photoshop-skills {
  width: 55%;
}
.indesign-skills {
  width: 55%;
}
.premierepro-skills {
  width: 65%;
}
.aftereffect-skills {
  width: 20%;
}
.html-skills {
  width: 80%;
}
/* 
form {
  text-align: center;
}
picto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  height: 30px;
}
.submit {
  width: 100%;
  background-color: rgb(3, 175, 232);
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 12px;
}
.button {
  width: 77%;
  background-color: ();
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 12px;
}
*/